__init__.py
*.pyc
.*.swp
.#*
#*#
*~
build
*.d
*.so
*.pcm
crab*/*.root
crab*/cout*.txt
crab*/FrameworkJobReport.xml
crab_customNanoAODAndPostprocessing/crab_NanoPost1/
crab_haa4b_NanoAOD_2018_mc/crab
crab_haa4b_NanoAOD_2018_data/crab/
*/cout_tmp.txt
*/crab.log
crab_haa4b_NanoAOD_2017_data/crab/
crab_haa4b_NanoAOD_2017_data/crab_job_test.sh
crab_haa4b_NanoAOD_2017_mc/crab/
crab_haa4b_NanoAOD_2017_mc/crab_job_test.sh
crab_haa4b_NanoAOD_2017_data/crab_job_JetHT.sh
crab_haa4b_NanoAOD_2017_mc/crab_job_QCD.sh
crab_haa4b_NanoAOD_2016APV_mc/crab/
crab_haa4b_NanoAOD_2016_data/crab/
crab_haa4b_NanoAOD_2016_mc/crab/
crab_haa4b_NanoAOD_2017_mc/crab_job_TT_ZJets.sh
